.form-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
  grid-gap: 30px;
  margin: 0px;
}


.form-sub-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.1fr;
  grid-gap: 30px;
  margin: 0px;
}

.item-name {
  font-weight: 450;
  align-items: center;
  font-size: calc(10px + 0.390625vw);
  display: flex;
  justify-content: flex-start;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr;
  margin: 0px;
  grid-gap: 0px;
}

.button-submit {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-size: calc(15px + 0.390625vw);
  margin: 0;
}

.button-submit:hover {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-submit:active {
  transform: translateY(3px);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0);
}

