{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <main>
        {% block content %}
        {% endblock %}
      </main>
    </div>
      {% block scripts %}
      {% endblock scripts %}
      <script src="{% static "base.js" %}"></script>
      <script src="https://kit.fontawesome.com/dc0404eb83.js" crossorigin="anonymous"></script>
  </body>
</html>