body {
  font-family: 'Roboto', sans-serif;

  font-weight: 400; /* Default weight */
  line-height: 1.6; /* Optimal readability */
  font-style: normal;

  margin: 0;
  padding: 0;
}

.awnser-card {
  display: flex;
  
  flex-direction: column;

  padding: 5px;

  margin: 5px;

  height: 90vh;
  width: 90vw;

  justify-content: center;
}

.info-card {
  /* border: red solid 2px; */

  height: 15vh;
  width: 80vw;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  margin-bottom: 5px;
  margin-left: 1.7vh;
}



.info-piece {
  border: black solid 2px;
  display: grid;
  grid-template-columns: 0.30fr 1fr;
  grid-template-rows: 1fr;
}

.info-title {
  /* border: red solid 2px; */
  font-size: 100%;
  margin: 0;
  padding: 0;
}






.info-text {
  /* border: red solid 2px; */
  display: grid;
  align-items: center;

  grid-template-columns: 0.01fr auto;
  grid-template-rows: 1fr;

  margin: 0;
  padding: 0;
  margin-left: 5px;
}

.info-content {
  font-size: 100%;
  margin: 0;
  padding: 0;
  margin-left: 1%;
  display: flex;

  justify-content: flex-start;
}

.sheet-piece {
  border: black solid 2px;
  width: 20vw;
}

.sheet-card {
  /* border: red solid 2px; */
  height: 80vh;
  width: 90vw;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  margin-left: 0.25vh;
}

.sheet-piece {
  border: black solid 2px;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(13, 1fr);
  margin: 5%;
}

.alternative {
  /* border: red solid 2px; */
  margin: 2px;

  display: grid;
  grid-template-columns: 0.15fr auto;
  grid-template-rows: 1fr;
}

.number {
  /* border: red solid 2px; */
  
  display: flex;

  align-items: center;
  justify-content: center;

  font-weight: bold;
}

.number > span {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.options {
  /* border: red solid 2px; */

  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;

  justify-content: center;
  align-items: center;
}

.option {
  display: flex;

  align-items: center;
  justify-content: center;
}

.option > .a, .b, .c, .d, .e {
  font-size: 100%;

  margin: 0;
  padding: 0;

  font-weight: bold;
}


.option > span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 1px;
  width: 22px; /* Adjust width as needed */
  height: 22px; /* Make height equal to width */
  border-radius: 50%; /* Make it a circle */
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include border in the element's total width and height */
  text-align: center;
  line-height: 50px; /* Center text vertically */
}



.container {
  display: flex;
  
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  z-index: 1;
  position: relative;
}

main {
  background-color: #ffffff; /* Light blue-gray background */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  border: black solid 5px;
}

.title-card {
  text-align: center;
  border-radius: 2.5px;
  border-bottom: #000000 solid 2px;

  background-color: #ffffff;

  padding: 0;
  margin: 0;
}

.title-card h1 {
  color: #000000;
  font-weight: 600;
  font-size: 10em;
  margin: 0;
}

/* Styling the background */
#img_background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url('your-image-url.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; /* Lower than your content, but higher than the background */
  background: #102C57; /* Blue with 50% opacity */
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
